
<div class="page">
  <div class="container-1">
    <h1>Profile</h1>
    <div>
      <div><strong>Username:</strong><br><%= @user.username %></div><br>
      <div><strong>Email:</strong><br><%= @user.email %></div><br><br>
      <div><%= link_to "edit profile", edit_user_registration_path %></div>
    </div>
  </div>
    <div class="container-2 hosted-events">
      <h3>Hosted events</h3>
      <ul class="events">
        <% @user.created_events.each do |event| %>
          <li><%= link_to event.title, event  %></li>
        <% end %>
      </ul>
    </div>
</div>






