<div class="sidebar_links">
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to "create", new_event_path %></li>
      <li><%= link_to "profile", users_show_path(id: current_user.id) %></li>
  </ul>
    <% else %>
      <li>Please sign in to create an event.</li>
    <% end %>
</div>
