/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FA8CE6;
}

body {
  /* background-color: #F0AE86; */
}

.header {
  height: 72px;
  background: #BCFDF1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  font-size: 32px;
  font-weight: 900;
  padding: 0 32px 0 32px;
}

.site-title {
  color: #747AE3;
}

.home-link{
  font-size: 20px;
}

.home-link a {
  color: #FA8CE6;
  text-decoration: none;
}

.user-links {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: -160px;
  color: #F0AE86;
  font-size: 20px;
  margin-top: .5em;
}

.signin-up-link {
  font-size: 20px;
}

.username {
  font-size: 20px;
  /* margin-top: .5em; */
  margin-left: -8px;
  color: #747AE3;
}

.index-title {
  text-align: center;
  color: #FFEC69;
  /* background-color: #FA8CE6; */
}

.container .f-events, .p-events {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 16px;
  margin: 16px;
  width: 300px;
  height: 250px;
  border: 5px solid #BCFDF1;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;  
}

.card-body {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal; 
}

.card-date {
  margin-top: auto;
}

.card-location {
  text-transform: capitalize;
}

.body {
  flex: 1;
  display: flex
}

.footer {
  height: 72px;
  background-color: #FA8CE6;
}

.sidebar {
  width: 212px;
  height: 100;
  padding: 16px;
  flex-shrink: 0;
  background-color: #747AE3; 
}

.sidebar-links ul {
  font-size: 24px;
  list-style: none;
}

.sidebar-links li {
  margin: 10px 0;
}

.sidebar-links a {
  text-decoration: none;
  color: #FFEC69;
  font-weight: bold;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-1 {
  margin-top: 80px;
  width: 500px;
  text-align: center;
}

.container-2 {
  margin-top: 18px;
  display: flex;
  gap: 24px;
  text-align: center;
}

.container-1, .past-events, .future-events, .guests-attending {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 16px 16px 50px 16px;
}

.events {
  list-style: none;
  padding-left: 0;
}

.events a {
  text-decoration: none;
}

.f-events, .p-events {
  background-color: #F0AE86;
  /* margin: none; */
}

.container {
  padding: 32px;
  margin: 42px;
  /* max-width: 1400px; */
}


